<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WalletGuid" value="d6f961a7-6936-484a-9424-fdd6b587cee9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WalletPassword" value="I62m99G194j749U" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- Chain.com -->
    <add key="ChainApiKey" value="ea3b741ab1a63e555c52fd788b8808cb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ChainApiSecret" value="ca138c483b73668a398c85ad317c5da2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ChainWebhookID" value="e95d428a-edce-46f8-ac98-2db9e89fb230" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BetaUserIds" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- GoCoin -->
    <add key="GoCoinApiKey" value="e5cdd44f9af6df5b9212ecb49aaec05a0b96c72605c1151a3a9d0c6adb5139a8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GoCoinApiSecret" value="5554748efa740e5438c453813f254819cfae98bc925c2826787292ddcde31458" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GoCoinRedirectUrl" value="https://staging-shop.bitsie.com/OAuth/GoCoin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- API -->
    <add key="ApiEndpoint" value="https://staging-api-shop.bitsie.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- IPN -->
    <add key="IPNCallbackUrl" value="https://staging-shop.bitsie.com/IPN/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Email Notifications -->
    <add key="EmailFromAddress" value="support+staging@bitsie.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailFromName" value="Bitsie Shop Support - Staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationTemplatePath" value="C:\\inetpub\\sites\\staging-shop.bitsie.com\\Content\\notifications\\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationEmail" value="support+staging@bitsie.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailFromName" value="Bitsie Shop Support" />
    
    <!-- SMS -->
    <add key="TwilioNumber" value="410-567-0582" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TwilioSid" value="ACaabb50629eee184c4ea1fad98b2bdfaa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TwilioAuthToken" value="a48c2bcbd512b5b4bae4474f14cc70df" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- Freshbooks -->
    <add key="FreshbooksAccountName" value="bitsie" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FreshbooksOAuthToken" value="Q65HkSTv9KZW5B9vEbwRnKmfEUKjGbNJb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="Off" xdt:Transform="Replace">
    </customErrors>
    
  </system.web>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="support@bitsie.com">
        <network userName="bitsie" password="jExjpwKQn9Jw4TZJ" host="smtp.sendgrid.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>