<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.2" package="com.bitsie.shop" android:versionCode="3">
	<uses-sdk android:minSdkVersion="17" />
	<application android:theme="@android:style/Theme.Black.NoTitleBar" android:label="Bitsie Shop" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>