@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<h1>Page Not Found</h1>

<p>Sorry, we couldn't find the page you were looking for. Please check the link you used to arrive at this page and try again. 
    <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#098;&#105;&#116;&#115;&#105;&#101;&#046;&#099;&#111;&#109;">Contact us</a> if you continue to have trouble.</p>
</p>