@{
    ViewBag.Title = "Order Expired";
}

<div class="page @if (Model.IsMobile){<text>mobile-merchant span12</text>}">
    <div class="panel container-full background-white merchant-header">
        <div class="screen-title">
            <h1 class="default-merchant-header">ORDER EXPIRED</h1>  
            <form action="#">
                <p>Your order has expired. Product downloads are only available for 24 hours after purchase.</p>
                
                <p>If you need assistance please contact <a href="mailto:support@bitsie.com">support@bitsie.com</a>.</p>
            </form>
        </div>
    </div>
</div>
