@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        
        <form id="resetPasswordForm" class="form-horizontal col-md-8">
            <fieldset>
                <legend>Reset Password</legend>

                <div class="alert alert-danger display-none"></div>
        
                <p>Enter a new password for your account.</p>

                <label class="control-label">New Password</label>
                
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" type="password" name="Password" placeholder="New Password">
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="password" name="ConfirmPassword" placeholder="Confirm Password">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        ($(function () {
            var resetForm = $('#resetPasswordForm');
            var message = $('.alert', resetForm);

            // Setup user subscriptions
            var user = new User();

            user.subscribe(user.MESSAGE_RESETPASSWORD, function (resp) {
                resetForm.form('enable');
                
                if (resp.Success) {
                    message.hide().removeClass('alert-danger')
                        .addClass('alert-success').html('Your password has been updated. ' +
                            'You may now <a href="/User/SignIn">sign in</a> with your new password.').fadeIn();
                } else {
                    message.hide().removeClass('alert-success')
                        .addClass('alert-danger').html(resp.Errors.join('<br />')).fadeIn();
                }
            });

            resetForm.submit(function (e) {
                e.preventDefault();
                resetForm.form('disable');
                var formData = resetForm.serializeObject();
                formData.ResetToken = Bitsie.Shop.QueryString.token;
                user.resetPassword(formData);
            });
        }));
    </script>
} 