@{
    ViewBag.Title = "Freshbooks";
}

<div class="contentWrapper page">
    
    <div class="container whitebg">
    
        <h2>All Done!</h2>

        <p>You have successfully connected your Bitsie account to Freshbooks. 
            Your Hosted Checkout page will now allow your customers to pay Freshbooks invoices with bitcoin. 
            If you would ever like to disable your Freshbooks connection, go to the Hosted Checkout tab of your 
            account profile click "No" next to "Enable Freshbooks".
        </p>

</div>

<div style="margin-bottom:168px"></div>