<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Domain Info -->
    <add key="WalletGuid" value="d6f961a7-6936-484a-9424-fdd6b587cee9" />
    <add key="WalletPassword" value="I62m99G194j749U" />
    <add key="PayoutFee" value="1.0" />
    <!-- Whole percent -->

    <!-- Chain.com -->
    <add key="ChainApiKey" value="ea3b741ab1a63e555c52fd788b8808cb" />
    <add key="ChainApiSecret" value="ca138c483b73668a398c85ad317c5da2" />
    <add key="ChainWebhookID" value="d5111a08-c819-4fd5-8828-0f6cbc5bab7a" />
    <add key="IPNSecret" value="mKy3920012" />

    <!-- Email Notifications -->
    <add key="EmailFromAddress" value="support@bitsie.com" />
    <add key="EmailFromName" value="Bitsie Shop Support" />
    <add key="NotificationTemplatePath" value="D:\Projects\bitsie-shop\Web\Src\Bitsie.Shop.Web\Content\notifications" />
    <add key="NotificationEmail" value="support@bitsie.com" />

    <!-- SMS -->
    <add key="TwilioNumber" value="410-567-0582" />
    <add key="TwilioSid" value="ACaabb50629eee184c4ea1fad98b2bdfaa" />
    <add key="TwilioAuthToken" value="a48c2bcbd512b5b4bae4474f14cc70df" />

    <!-- Minimum level for which logs should be created -->
    <add key="MinLogLevel" value="Info" />
    
    <!-- Accepts a comma delimited list of assembly names containing mapping artifacts; the ".dll" is optional -->
    <add key="nhibernate.mapping.assembly" value="Bitsie.Shop.Infrastructure" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>