@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Content/js/buybutton.js" type="text/javascript" ></script>
</head>
<body>
    <div>
        <a href="#" data-price="10" data-title="Product Name" data-description="Product description goes here" class="bitsie-shop-btn">Buy Now w/Bitcoin</a>
    </div>
</body>
</html>
