@{
   
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home-top" class="container">

    <div class="col-xs-12 text-center banner">
        <h1>The simplest way to start accepting bitcoin.</h1>
        <div class="col-xs-4 col-xs-offset-4">
            <a href="/User/Start" class="btn btn-white btn-block">Get Started</a>
        </div>        
    </div>    
</div>
<div class="clearfix"></div>
<div id="home-bottom" >
    <div class="container">
        <div class="col-xs-12">
            <div class="row package-row text-left">
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 text-center">
                        <img src="/Content/img/key.png"/>
                    </div>
                    <h2>You hold the keys.</h2>
                    <p>HD Wallets allow you to hold onto your private keys while giving us the ability to create public addresses generated from them. No need to trust a third party with your money while getting all the benefits of a traditional transaction management application.</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 text-center">
                        <img  src="/Content/img/homepage-buy-button.png"/>
                    </div>
                    <h2>The buy button.</h2>
                    <p>Create a product through our online store and sell it anywhere online through a link or an embedded code. When a customer clicks on the link they are able to make a payment and download your product. The money goes directly to you, we handle everything else. </p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 text-center">
                        <img src="/Content/img/tablet-vector.png"/>
                    </div>
                    <h2>Point of sale.</h2>
                    <p>Download the Bitsie Shop mobile application and use it at the point of sale. Enter an amount, show the generated QR code to the customer, the transaction is made and bitcoin gets delivered directly to your wallet. At the end of the day you can view all your orders through the Bitsie Shop dashboard.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 feature-panel">
             <h1 class="centered uppercase heading">FEATURES</h1>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-tablet fa-5x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Point of Sale Application</h3>
                        <p><a class="orange" href="https://play.google.com/store/apps/details?id=com.bitsie.shop&hl=en" target="_blank">Download</a> from the app store (android) or load in your browser (iphone).</p>    
                    </div>                    
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-lock fa-5x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Reliable and Secure Platform</h3>
                        <p>A protected and tested solution to start accepting bitcoin. Your transactions are transparent and secured.</p>    
                    </div>                    
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-support fa-4x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Employee Education and Training</h3>
                        <p>We handle any questions or education needed. Talk to a real person,</p>    
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 pull-left">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Order Management</h3>
                        <p>View all your incoming, paid, and partial orders.</p>    
                    </div>                    
                </div>
                <div class="col-xs-12 col-md-4 pull-left">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Customer Management</h3>
                        <p>Create and Manage customer accounts for your online marketplace.</p>    
                    </div>                    
                </div>
                <div class="col-xs-12 col-md-4 pull-left">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-tasks fa-4x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Invoicing</h3>
                        <p>Create, Manage, and Send invoices to your vendors and customers.</p>    
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 pull-left">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-clipboard fa-4x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Third Party Integrations</h3>
                        <p>Connect your account with Wallet32 or Trezor. We also offer integrations with accounting software.</p>
                    </div>                    
                </div>
                <div class="col-xs-12 col-md-4 pull-left">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-qrcode fa-5x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Payment Cards</h3>
                        <p>No need for an app, present a card with your Bitcoin public key on it and have confirmations sent by sms or email.</p>    
                    </div>                    
                </div>
                <div class="col-xs-12 col-md-4 pull-left">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center-xs text-left-md text-center-lg">
                        <i class="fa fa-money fa-4x"></i>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center-xs text-left-md">
                        <h3>Tipsie - Gratuity Service</h3>
                        <p>Run a business that accepts gratuity? Bitsie shop allows your employees to be tipped out separately.</p>    
                    </div>                    
                </div>
            </div>
        </div>       
        </div>
        <div class="clearfix"></div>
<div id="pricing" class="row orange">
    <div class="container">
        <h1 class="centered uppercase heading">PLANS & PRICING</h1>
        <h3 class="centered subheading">No contracts or commitments</h3>   
        <br/>
    </div>
</div>
<div class="row plans-pricing">
    <div class="container text-center">        
        <div class="col-xs-12 col-md-3">
                 <h1>Starter</h1>
                 <hr/>
                 <ul>
                     <li>25 transactions/month</li
                     <li>Bitsie Shop Manager</li>
                     <li><a class="orange" href="http://suport.bitsie.com" target="_blank">Knowledge-base Support</a></li>
                 </ul>
                 <hr/>
            <h2 class="price one-line">FREE</h2>
            <a class="btn btn-subscribe" href="/User/SignUp">SIGN UP</a>
             </div>
            <div class="col-xs-12 col-md-3">
                <h1>Basic</h1>
                <hr/>
                <ul>
                    <li>500 transactions/month</li>
                    <li>Bitsie Shop Manager</li>
                    <li>3rd Party Integrations</li>
                    <li>Limited Support</li>
                </ul>
                <hr/>
                <h2 class="price">$5<br/><span>per month</span></h2>
                <a class="btn btn-subscribe" href="/Merchant/Checkout/Subscribe?plan=@Bitsie.Shop.Domain.SubscriptionType.Basic">SUBSCRIBE</a>
            </div>
            <div class="col-xs-12 col-md-3">
                <h1>Premium</h1>
                <hr/>
                <ul>
                    <li>5,000 transactions/month</li>
                    <li>Bitsie Shop Manager</li>
                    <li>3rd Party Integrations</li>
                    <li>Limited Support</li>
                </ul>
                <hr/>
                <h2 class="price">$10<br/><span>per month</span></h2>
                <a class="btn btn-subscribe" href="/Merchant/Checkout/Subscribe?plan=@Bitsie.Shop.Domain.SubscriptionType.Premium">SUBSCRIBE</a>
            </div>
            <div class="col-xs-12 col-md-3">
                <h1>Enterprise</h1>
                <hr/>
                <ul>
                    <li>Unlimited Transactions</li>
                    <li>Bitsie Shop Manager</li>
                    <li>Custom Integrations</li>
                    <li>Unlimited Support</li>
                </ul>
                <hr/>
                <h2 class="price one-line"><a href="mailto:contact@bitsie.com"><i class="fa fa-envelope"></i>&nbsp;CONTACT US</a></h2>
            </div>
        </div>
    </div>

<div class="row-fluid merchant-types">
    <div class="container-fluid">
        <div class="col-xs-12 col-md-4 type retail">
            <div class="default-block">
                <h3><small>for</small> Retail</h3>
                <hr/>
                <p >Are you a restaurant interested in accepting bitcoin? Bitsie shop offers many valuable features for restaurants including Tipsie, a system for allowing your bartenders and waiters to get tipped in bitcoin without the need for a tablet. </p>
            </div>
            <div class="block"></div>
        </div>
        <div class="col-xs-12 col-md-4 type restaurant">
            <div class="default-block">
                <h3><small>for</small> Bars & Restaurants</h3>
                <hr/>
                <p >Are you a restaurant interested in accepting bitcoin? Bitsie shop offers many valuable features for restaurants including Tipsie, a system for allowing your bartenders and waiters to get tipped in bitcoin without the need for a tablet.</p>
            </div>
            <div class="block"></div>qq
        </div>
        <div class="col-xs-12 col-md-4 type enterprise">
            <div class="default-block">
                <h3><small>for</small> Enterprises</h3>
                <hr/>
                <p >Are you a large corporation, local chain of stores or large online merchant? Bitsie Shop is flexible and is able to integrate with many systems and 3trd parties. Let’s discuss how we can integrate with your current system. Bitsie Shop can even be branded to your business.</p>
            </div>
            <div class="block"></div>
        </div>
    </div>
</div>
        
</div><!-- /.container -->

@section scripts {
    <script type="text/javascript">
        $(function () {
            // Put whatever here.
        });
    </script>
} 