@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<form action="https://bitsie.freshbooks.com/oauth/oauth_request.php" method="post">
    <button type="submit" class="btn btn-success">Connect</button>
</form>