<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Domain Info -->
    <add key="WalletGuid" value="d6f961a7-6936-484a-9424-fdd6b587cee9" />
    <add key="WalletPassword" value="I62m99G194j749U" />
    <add key="PayoutFee" value="1.0" />

    <!-- Chain.com -->
    <add key="ChainApiKey" value="ea3b741ab1a63e555c52fd788b8808cb" />
    <add key="ChainApiSecret" value="ca138c483b73668a398c85ad317c5da2" />
    <add key="ChainWebhookID" value="e95d428a-edce-46f8-ac98-2db9e89fb230" />
    <!-- GoCoin -->
    <add key="GoCoinApiKey" value="e5cdd44f9af6df5b9212ecb49aaec05a0b96c72605c1151a3a9d0c6adb5139a8" />
    <add key="GoCoinApiSecret" value="5554748efa740e5438c453813f254819cfae98bc925c2826787292ddcde31458" />
    <add key="GoCoinRedirectUrl" value="https://staging-shop.bitsie.com/OAuth/GoCoin" />
    <!-- IPN -->
    <add key="IPNCallbackUrl" value="https://staging-shop.bitsie.com/IPN/" />


    <!-- Email Notifications -->
    <add key="EmailFromAddress" value="support+staging@bitsie.com" />
    <add key="EmailFromName" value="Bitsie Shop Support - Staging" />
    <add key="NotificationTemplatePath" value="/staging-shop.bitsie.com/web/content/" />
    <add key="NotificationEmail" value="support+staging@bitsie.com" />
    <!-- SMS -->
    <add key="TwilioNumber" value="410-567-0582" />
    <add key="TwilioSid" value="ACaabb50629eee184c4ea1fad98b2bdfaa" />
    <add key="TwilioAuthToken" value="a48c2bcbd512b5b4bae4474f14cc70df" />
    <!-- Freshbooks -->
    <add key="FreshbooksAccountName" value="bitsie" />
    <add key="FreshbooksOAuthToken" value="Q65HkSTv9KZW5B9vEbwRnKmfEUKjGbNJb" />
    <!-- Minimum level for which logs should be created -->
    <add key="MinLogLevel" value="Info" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="support@bitsie.com">
        <network userName="bitsie" password="do2o#io2o32" host="smtp.sendgrid.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.727" newVersion="1.3.0.727" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>