<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.connection_string">Data Source=WRK-TOWER; Initial Catalog=Shop; Trusted_Connection=true;</property>
    <property name="dialect">NHibernate.Spatial.Dialect.MsSql2008GeographyDialect, NHibernate.Spatial.MsSql2008</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="show_sql">false</property>
    <property name="connection.release_mode">auto</property>
    <property name="adonet.batch_size">500</property>
  </session-factory>
</hibernate-configuration>