@using Bitsie.Shop.Web.Helpers
@{
   
    ViewBag.Title = "Account Settlement";
}


<div class="container-fluid">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>ACCOUNT <span>INTEGRATIONS</span></h1>
        </div>

    <form id="settlementForm" action="#" method="post" class="row-fluid">
        <div class="col-xs-12">
             
            <div class="alert display-none"></div>

                <div class="widget-content nopadding">
                </div>

        </div>	
    </form>
</div>
    </div>

<script id="settlementTemplate" type="text/html">
     <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/Manage/Integrations?type=freshbooks" class="settlement settlement-freshbooks">
            <img class="col-xs-12" src="/Content/img/integration-freshbooks.png" />
            <div class="col-xs-12">Freshbooks</div>
            <div class="col-xs-12 settlement-status">Status: 
                {{#EnableFreshbooks}}
                    <span class="text-success">Enabled</span>
                {{else}}
                    <span class="text-default">Disabled</span>
                {{/EnableFreshbooks}}
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="clearfix"></div>
</script>

@section scripts {
    <script type="text/javascript">
        ($(function () {
            var id = Bitsie.Shop.QueryString.id;
            var settlementForm = $('#settlementForm');
            var message = $('.alert', settlementForm);
            var user = new User();
            var userData = null;
            
            // Show overlay
            $('.widget-content', settlementForm).form('overlay');
            
            user.subscribe(user.MESSAGE_RETRIEVED, function (resp) {
                userData = resp;
                var html = Bitsie.Shop.Template('#settlementTemplate', userData);
                $('.widget-content', settlementForm).html(html);
                $('.widget-content', settlementForm).form('overlay-hide');
            });

            // Load user
            user.getOne(id);

            function reload() {
                user.getOne(id);
            }

           
        }));
    </script>
} 