@{
    ViewBag.Title = "Create";
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
             
            <div class="alert display-none"></div>
            <h5>Customers | <span>Create</span></h5>

            <form>              
                <legend>Customer Information</legend>
                <fieldset>
                    <label>Name</label>
                    <input type="text" placeholder="Customer Name">
                    <span class="help-block">Customer's Full Name or Company Name</span>
                </fieldset>
                <fieldset>
                    <label>Email</label>
                    <input type="text" placeholder="Customer Email">
                    <span class="help-block">Customer's Email</span>
                </fieldset>
                <button type="submit" class="btn">Submit</button>              
            </form>

        </div>
    </div>
</div>



@section scripts {
    <script type="text/javascript">
        ($(function () {
            

           
        }));
    </script>
} 

