<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<hibernate-configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.connection_string" xdt:Transform="Replace" xdt:Locator="Match(name)">Data Source=bitsieshop.coybrkhj1dj5.us-west-2.rds.amazonaws.com,1433; Initial Catalog=Shop; User ID=bitsie; Password=yMrjrc1OdRQF1rcN</property>
  </session-factory>
</hibernate-configuration>