    <h3>CHECKOUT DISABLED</h3>  
    <form action="#">
        <p>This merchant has reached their account limits for this month and has been temporarily suspended.</p>
                
        <p>If you are the owner of this account, please contact <a href="mailto:support@bitsie.com">support@bitsie.com</a> for assistance.</p>
    </form>