@{
    ViewBag.Title = "Frequently Asked Questions";
}

<div class="contentWrapper page">
    
    <div class="container whitebg">
    
        <h2>Frequently Asked Questions</h2>

        <p><strong>How do I receive payments collected from customers?</strong></p>
    
        <p>Bitsie Shop offers allows you to either accept bitcoin directly, or to use a variety of payment processors including <a href="https://bitpay.com/?oid=398287">Bitpay</a> and <a href="http://www.gocoin.com">GoCoin</a>.
            After registration you are able to choose how you would like to settle your funds. We do not charge any transaction fees. 
            If you choose to settle in bitcoin, we will forward all funds received after one confirmation.</p>

        <p><strong>Isn't bitcoin's price volatile?</strong></p>

        <p>If you are concerned about price volatility, we recommend using a Bitcoin payment processor such as <a href="https://bitpay.com/?oid=398287">Bitpay</a>.
           Payment processors will convert instantly to USD for minimal (or zero) fees.
             </p>
    
        <p><strong>Can I accept payments from customers that aren't physically present?</strong></p>
    
        <p>Yes! Bitsie Shop has a feature named <a href="http://blog.bitsie.com/2014/07/hosted-checkouts/">Hosted Checkouts</a> which allows you to accept 
            customer payments from a customized webpage. This is useful if you have invoices or revolving accounts, and would like to offer 
            bitcoin as a payment method. We also allow you to sell products directly within Bitsie Shop. Here is a <a href="http://shop.bitsie.com/honeypot/product">sample product listing</a> page.
        </p>
    
        <p><strong>What devices are supported?</strong></p>
    
        <p>The Bitsie Shop point of sale application is currently available on Android devices running Android 4.2 (Jelly Bean) and higher.
            Other features including <a href="http://blog.bitsie.com/2014/07/hosted-checkouts/">Hosted Checkouts</a> are available using any modern web browser.</p>
    </div>
</div>

<div style="margin-bottom:168px"></div>