@{
    ViewBag.Title = "Terms of Use";
}

<div class="contentWrapper page ">
    
    <div class="container whitebg">
    <h2 id="terms-of-use">Merchant Terms of Use</h2>
        <p>These Merchant Terms of Use (the Terms) govern your use of the products, services or any other features, technologies or functionalities (the Services) provided by Bitsie, LLC (Bitsie, we, our, or us) through Bitsie’s website, API or through any other means. <b>You</b> and <b>your</b> mean the merchant to which we will be providing the Services and the person signing below or otherwise agreeing to the Terms on behalf of the merchant.  Please read the Terms carefully; by using the Services, you agree to the Terms and confirm that you accept them.</p>

          <h3 id="the-services">The Services</h3>
          <p>We are a Bitcoin payment processor—we enable you to accept Bitcoins as payment for goods or services, and process Bitcoin payments that you receive from your customers. We are not a Bitcoin exchange, Bitcoin wallet, or a place to purchase Bitcoin.  By using the Services, you agree that we are acting as a payment processor and as your agent. You authorize us to receive, hold and disburse funds on your behalf and to take any and all actions that we think are necessary or desirable to provide the Services and to comply with applicable law. If you wish to receive payments in the form of USD, we allow you to connect your account to third party payment processors. Bitsie does not handle Bitcoin to USD conversions internally.</p>

          <h3 id="registration">Registration</h3>

            <h4>Generally</h4>
            <p>In order to use the Services, you must open a Bitsie Shop account.  When you open an account, we will ask you for contact information, including your name, mailing address, phone number, email address, and website.  The information that you provide at the time of account opening must be accurate and complete, and you must inform us in a timely fashion of any changes to such information.  We may require additional information about you (including any person signing below or otherwise agreeing to the Terms on behalf of the merchant) such as, for instance, your date of birth, tax identification number or government-issued identification, and we may also obtain information about you from third parties, such as credit bureaus and identity verification services.  We have the right to reject your account registration, or to later close your Bitsie Shop account, if you do not provide us with accurate, complete and satisfactory information.</p>


            <h4>Guarding your Password</h4>
            <p>You will choose a password when registering. You are responsible for maintaining the confidentiality of your password and account.  You are fully responsible for all activities that occur using your password or account.  Please notify us immediately of any unauthorized use of your password or account or any other breach of security.  We will not be liable for any loss that you may incur as a result of someone else using your password or account, either with or without your knowledge.  You may not use anyone else’s password at any time.</p>

            <h4>Prohibited Accounts</h4>
            <p>Use of the Services is subject to the laws and regulations of the United States regarding the prevention of terrorist financing and anti-money laundering.  You agree and acknowledge that your use of the Services does and will comport with such laws and regulations, including, without limitation, the sanctions programs administered by the Office of Foreign Assets Control of the United States Department of the Treasury.</p>

          <h3 id="your-sales">Your Sales</h3>

            <h4>Invoices and Records</h4>
            <p>You must keep all records needed for fulfilling the merchandise to the purchaser and providing any post-sale support to the purchaser.  If the sale of the item requires any government registration of the sale, you are responsible for such registration.</p>

            <h4>Customer Verification</h4>
            <p>You are solely responsible for obtaining any information required of those who purchase your goods or services.  For instance, if applicable law prohibits a sale to persons under the age of 18 years, you must ensure that a purchaser is at least 18 years of age.  Similarly, if applicable law requires that a purchaser’s identity be verified, you must verify the purchaser’s identity.  We will not be responsible for your failure to adequately verify your purchasers’ identities or qualifications.<p>

            <h4 id="prohibited">Representation and Warranties</h4>
            <p>Your use of the Services is subject to several important restrictions. Specifically, you represent and warrant to us that:
            <p>(a) Your use of the Services will not contravene any applicable international, federal, state or local law or regulation, including applicable tax laws and regulations, and that your use of the Services will not violate the laws of the United States of America.</p>
            <p>(b) Your use of the Services will not relate to sales of (i) narcotics, research chemicals or any controlled substances, (ii) cash or cash equivalents, including derivatives, (iii) items that infringe or violate any copyright or trademark, (iv) ammunition, firearms, explosives, weapons or knives regulated under applicable law, or (v) any services which compete with Bitsie.</p>
            <p>(c) Your use of the Services will not relate to transactions that (i) show the personal information of third parties in violation of applicable law, (ii) support pyramid or Ponzi schemes, matrix programs or other "get rich quick" schemes, (iii) are associated with purchases of annuities or lottery contracts, lay-away systems, off-shore banking or transactions to finance or refinance debts funded by a credit card, (iv) are associated with Money Service Business activities, as defined by the Financial Crimes Enforcement Network of the United States Department of the Treasury, or (v) provide credit repair or debt settlement services.</p>
            <p>(d) Your use of the Services will not involve gambling or any other activity with an entry fee and a prize, including, without limitation casino games, sports betting, horse or greyhound racing, lottery tickets, other ventures that facilitate gambling, and sweepstakes, unless you have obtained our prior approval and you and your customers are located exclusively in jurisdictions where such activities are permitted by law.</p>
            <p>(f) You have the right, power and ability to enter into and perform under these Terms.</p>

            <h4>Our Right to Reject</h4>
            <p>We reserve the right to decline to process a sale if we believe that it violates these Terms or would expose you, other merchants, purchasers, or other parties to harm.  If we reasonably suspect that your Bitsie account has been used for an illegal purpose, you authorize us to share information about you, your Bitsie account, and your account activity with law enforcement.</p>

            <h4>Our Right to Inspect</h4>
            <p>We may ask for permission to inspect your business location, in connection with your use of the Services or specific transactions.  If you refuse our request, we may suspend or terminate your Bitsie account.</p>

          <h3 id="third-parties">Third Parties</h3>

            <h4>Your Use of Third-Party Services</h4>
            <p>In using the Bitsie website or the Services, you may be offered services, products and promotions provided by third parties.  If you decide to use these third-party services, you do so at your own risk and are solely responsible for reviewing, understanding and complying with the associated terms and conditions.  We expressly disclaim any liability for the third-party services and are not responsible for the performance of the third-party services or servicers.</p>

            <h4>Security</h4>
            <p>We have implemented security measures designed to secure your information from accidental loss and from unauthorized access, use, alteration or disclosure. However, we cannot guarantee that unauthorized persons will never gain access to your information, and you acknowledge that you provide your information at your own risk, except as otherwise provided by applicable law.</p>

          <h3 id="collect-use-share">How we Collect, Use and Share Information</h3>
          <p>In order to provide the Services, we may share information about you and your Bitsie account with third parties, including but not limited to your bank and purchasers.</p>

          <h3 id="our-ownership">Our Ownership of the Services and the Bitsie Website</h3>
          <p>You agree and acknowledge that we own all right, title and interest to and in the Services, the associated software, technology tools and content, the Bitsie website, the content displayed on the website, and other materials produced by and related to Bitsie (collectively, the Bitsie IP).  You are only permitted to use the Services and the Bitsie IP to accept and receive payments, according to these Terms.  When you accept the Terms, we grant you a personal, limited, revocable and non-transferable license to use the Bitsie IP, without the right to sublicense.  You shall not rent, lease, sublicense, distribute, transfer, copy, reproduce, download, display, modify or timeshare the Bitsie IP or any portion thereof, or use the Bitsie IP as a component of or a base for products or services prepared for commercial sale, sublicense, lease, access or distribution. You shall not prepare any derivative work based on the Company IP, nor shall you translate, reverse engineer, decompile or disassemble the Company IP.</p>

          <h3 id="advertising">Advertising</h3>
          <p>By mutual consent, we may publish your corporate name, artwork, text and logo <b>(Merchant Content)</b> on the Bitsie website and promotional materials to acknowledge you as our customer.  You represent and warrant to us that you have the right to provide the Merchant Content to us, and that the use, copying, modification and publication of the Merchant Content by us: (a) will not infringe, violate or misappropriate any copyright, patent, trade secret or other proprietary rights, (b) will not infringe any rights of publicity or privacy, and (c) will not be defamatory or obscene or otherwise violate any law.</p>

          <h3 id="fees-and-settlement">Fees &amp; Settlement</h3>

            <h4>Invoice Generation and Exchange Rate Guarantee</h4>
            <p>To create an invoice, you may post a request to Bitsie to collect a specific amount in USD.  Bitsie will pull the exchange rate and provide the Bitcoin payment instructions to the purchaser.  We guarantee the exchange rate to you as long as the purchaser pays within the proper time window after the invoice is created.  Invoice timeout information is clearly displayed on each Bitsie invoice. While we guarantee the exchange rate as long as the purchaser pays within such time window, you agree that you assume the volatility risk of your local currency or Bitcoin, as applicable.  For instance, if you ask us to collect USD $150, and the purchaser sends the payment within the time window, we guarantee you will receive exactly USD $150, minus our fee, but do not guarantee the value of the U.S. dollar.<p>

            <h4>Fees</h4>
            <p>Bitsie may charge a monthly fee for accounts with higher transaction volume. Third party payment processors also may charge transaction fees. The proceeds payable to you will equal the amount of the invoice (assuming that we have received the full amount of the invoice from the purchaser), unless you agree to accept less than the amount of the invoice, minus the processing fee from third parties..  We reserve the right to change monthly fees and will give you 30 calendar days’ prior notice of any fee increase.  Your continued use of the Services after we notify you of any increase in our fees constitutes your acceptance of such change.  Current pricing information is provided on the Bitsie website at https://shop.bitsie.com/pricing.</p>

            <h4>Methods of Settlement</h4>
            <p>We will clear the payments over the Bitcoin peer-to-peer payment network and post the balance to your accounting ledger, according to your preference settings.  The debits and credits to your accounting ledger are funds temporarily held by Bitsie until settlement to your bitcoin wallet can take place.  If you are using a third party payment processor all funds are sent directly to the processor, and Bitsie Shop does not act as an intermediary party (except for offline addresses).  You assume volatility risks of the currency in which you choose to be settled.  If you choose to keep bitcoins, then you assume the volatility risk of the bitcoin value.</p>

            <h4>Settlements in Bitcoins</h4>
            <p>Payments in Bitcoins are sent to the Bitcoin address of your choice, at least once per calendar day.  Bitsie does not operate a Bitcoin wallet and funds must be moved to your wallet address.</p>

            <h4>Certain Deferrals</h4>
            <p>If we need to conduct an investigation or resolve any pending dispute related to your Bitsie account, we may delay settlement or restrict access to your funds while we do so.  Additionally, we may delay settlement or restrict access to your funds if required to do so by law, court order or at the request of law enforcement.</p>

            <h4>Account Statements</h4>
            <p>On demand, we will provide you with a statement detailing your account transaction and settlement history.  Should you identify an error in the statement, you must notify us of such error within 30 calendar days.</p>

          <h3 id="refunds-and-adjustments">Refunds and Adjustments</h3>

            <h4>Refund Procedures</h4>
            <p>In the event that you wish to issue a refund to a purchaser, Bitsie can handle this.  You can decide to issue a partial refund or the full amount of the initial purchase. If you do not have enough funds in your Bitsie account to cover the refund, Bitsie may require you to deposit Bitcoins into your Bitsie account to cover the refund to the purchaser. Any required currency conversion during the refund process will be calculated at a spot rate determined by Bitsie.</p>

            <h4>Disclosure of Your Refund Policy</h4>
            <p>Merchants are required to have a clear refund policy, and to disclose that policy to their customers.  We recommend you refund the amount of the initial purchase in the currency in which the item was priced.</p>

            <h4>Purchaser Complaints</h4>
            <p>Purchasers filing complaints about a purchase will be forwarded to you for resolution.  Bitsie reserves the right to terminate accounts which receive excessive complaints.</p>

          <h3 id="account-termination">Account Termination</h3>

            <h4>Your Right to Close Your Account</h4>
            <p>You may close your Bitsie account at any time.  You will still be obligated to us for any fees incurred before the closure and we will remit to you funds not yet paid to you and associated with pre-closure sales.  If your account balance is below our documented minimum transfer amount, you may be responsible for any transactions fees that may be incurred in the funds transfer.</p>

            <h4>Our Right to Close or Suspend Your Account</h4>
            <p>We may terminate these Terms and close your account, at our discretion, upon notice to you via email or phone communication.  We may also suspend your access to the Services if we suspect that you have failed to comply with these Terms, pose an unacceptable fraud risk to us, or if you provide any false, incomplete, inaccurate or misleading information.  We will not be liable to you for any losses that you incur in connection with our closure or suspension of your account.</p>

            <h4>Effect of Account Closure</h4>
            <p>If your Bitsie account is closed, you agree: (a) to continue to be bound by these Terms, (b) to immediately stop using the Services, (c) that the license provided under these Terms shall end, (d) that we reserve the right (but have no obligation) to delete all of your information and account data stored on our servers, and (e) that we shall not be liable to you or any third party for termination of access to the Services or for deletion of your information or account data.</p>

          <h3 id="indemnification">Indemnification</h3>
          <p>You agree to indemnify Bitsie, its affiliated and related entities, and any of its officers, directors, employees and agents from and against any claims, costs, losses, liabilities, damages, expenses and judgments of any and every kind (including, without limitation, costs, expenses, and reasonable attorneys’ fees) arising out of, relating to, or incurred in connection with any claim, complaint, action, audit, investigation, inquiry, or other proceeding instituted by a person or entity that arises or relates to: (a) any actual or alleged breach of your representations, warranties, or obligations set forth in these Terms; (b) your wrongful or improper use of the Services; (c) the products or services sold by you through the Services, including but not limited to any claims for false advertising, product defects, personal injury, death or property damage; or (d) any other party’s access or use of the Services with your account information.</p>

          <h3 id="no-warrenties">No Warranties</h3>
          <p>WE PROVIDE THE SERVICES ON AN "AS IS" AND "AS AVAILABLE" BASIS, AND YOUR USE OF THE SERVICES IS AT YOUR OWN RISK.  TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE PROVIDE THE SERVICES WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED (INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT).  WITHOUT LIMITING THE FOREGOING, WE DO NOT WARRANT THAT THE SERVICES (AND OUR WEBSITE): WILL OPERATE ERROR-FREE OR THAT DEFECTS OR ERRORS WILL BE CORRECTED; WILL MEET YOUR REQUIREMENTS OR WILL BE AVAILABLE, UNINTERRUPTED OR SECURE AT ANY PARTICULAR TIME OR LOCATION; ARE FREE FROM VIRUSES OR OTHER HARMFUL CONTENT.  WE DO NOT ENDORESE, WARRANT, GURANTEE OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVCE OFFERED OR ADVERTISED BY A THIRD PARTY THROUGH THE SERVICES OR THROUGH OUR WEBSITE, AND WE WILL NOT BE A PARTY TO NOR MONITOR ANY INTERACTIONS BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</p>

          <h3 id="limitation-of-liability">Limitation of Liability</h3>
          <p>IN NO EVENT WILL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES OR ANY LOSS, THEFT, DISAPPEARANCE, OR DAMAGES FOR LOST PROFITS, LOST REVENUES, LOST DATA OR OTHER INTANGIBLE LOSSES THAT RESULT FROM THE USE OF, INABILITY TO USE, OR UNAVAILABILITY OF THE SERVICES, REGARDLESS OF THE FORM OF ACTION AND WHETHER OR NOT WE KNEW THAT SUCH DAMAGE MAY HAVE BEEN INCURRED.  IN NO EVENT WILL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING, VIRUS TRANSMISSION OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES, YOUR Bitsie ACCOUNT, OR ANY INFORMATION CONTAINED THEREIN. IN NO EVENT WILL OUR LIABILITY FOR ANY DAMAGES ARISING IN CONNECTION WITH THE SERVICES EXCEED THE FEES EARNED BY US IN CONNECTION WITH YOUR USE OF THE SERVICES DURING THE 6 MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO THE CLAIM FOR LIABILITY.  THE FOREGOING LIMITATIONS OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.</p>

          <h3 id="miscellaneous">Miscellaneous</h3>

            <h4>Taxes</h4>
            <p>You are responsible for determining any and all taxes assessed, incurred, or required to be collected, paid, or withheld for any reason in connection your use of our software and services (Taxes). You also are solely responsible for collecting, withholding, reporting, and remitting correct Taxes to the appropriate tax authority.  We are not obligated to, nor will we determine whether Taxes apply, or calculate, collect, report, or remit any Taxes to any tax authority arising from any transaction.</p>

            <p>If in a given calendar year you receive (i) more than $20,000 in gross amount of payments and (ii) more than 200 payments, Bitsie will report annually to the Internal Revenue Service, as required by law, your name, address, tax identification number (such as a social security number, or employer identification number), the total dollar amount of the payments you receive in a calendar year and the total dollar amount of the payments you receive for each month in a calendar year.</p>

            <h4>Privacy Policy</h4>
            <p>Please see our Privacy Policy for information regarding how we collect and use information.  The Privacy Policy is part of these Terms, so please make sure that you read it.</p>

            <h4>Assignment</h4>
            <p>You may not transfer or assign these Terms, or any rights granted by these Terms.  You agree and acknowledge that we may assign or transfer these Terms.</p>

            <h4>Severability</h4>
            <p>Should any provision of these Terms be determined to be invalid or unenforceable under any law, rule, or regulation, such determination will not affect the validity or enforceability of any other provision of this Agreement.</p>

            <h4>Waivers</h4>
            <p>Our failure to assert any right or provision in these Terms shall not constitute a waiver of such right or provision, and no waiver of any term shall be deemed a further or continuing waiver of such or other term.</p>

            <h4>Entire Agreement</h4>
            <p>These Terms, including the Privacy Policy referenced herein, represent the entire understanding between us and you with respect to the matters discussed.  Headings are included for convenience only, and shall not be considered in interpreting these Terms.</p>

            <h4>Notices</h4>
            <p>You agree to accept communications from us in an electronic format, and agree that all terms, conditions, agreements, notices, disclosures or other communications that we provide to you electronically will be considered to be "in writing."</p>

            <h4>Governing Law; Arbitration</h4>

            <p>These Terms will be governed by and construed in accordance with the laws of the State of Maryland without reference to conflict of law or choice of law provisions, and applicable federal law (including the Federal Arbitration Act).  If a disagreement or dispute in any way involves the Services or these Terms and cannot be resolved between you and us with reasonable effort, the disagreement or dispute shall be resolved exclusively by final and binding administration by the American Arbitration Association (AAA), and will be conducted before a single arbiter pursuant to the applicable Rules and Procedures established by the AAA.  You agree that the arbitration shall be held in the State of Georgia, or at any other location that is mutually agreed upon by you and us.  You agree that the arbiter will apply the laws of the State of Georgia consistent with the Federal Arbitration Act, and will honor and agree to all applicable statutes of limitation.  You agree that, unless prohibited by law, there shall be no authority for any claims to be arbitrated on a class or representative basis, and arbitration will only decide a dispute between you and us. Arbitration proceedings must be initiated within 1 year after the disagreement or dispute arises.  If any part of this Arbitration clause is later deemed invalid as a matter of law, then the remaining portions of this section shall remain in effect, except that in no case shall there be a class arbitration.</p>

            <h4>Amendment</h4>
            <p>We may update or change these Terms from time to time.  Except as otherwise provided in these Terms, we will notify you of any changes by electronic mail or by posting a link to the amended Terms on our website.  If you continue to use the Services after we provide notice of such changes, your continued use constitutes an acceptance of the amended Terms and an agreement to be bound by them.  If you do not agree to the amended Terms, you must close your Bitsie account and discontinue your use of the Services.</p>

            <h4>Force Majeure</h4>
            <p>Neither you nor we will be liable for delays in processing or other nonperformance caused by such events as fires, telecommunications, utility, or power failures, equipment failures, labor strife, riots, war, nonperformance of our vendors or suppliers, acts of God, or other causes over which the respective party has no reasonable control; provided that the party has procedures reasonably suited to avoid the effects of such acts.</p>

            <h4>Survival</h4>
            <p>The provisions of Sections 2.2, 3.3, 3.4, 4.2, 5, 6, 7, 8.1, 8.5, 8.7, 8.8, 9 (including all subsections), 11, 12, 13, and 14.7 shall survive the termination of these Terms.</p>

          <p>You agree that the person signing below has the authority to sign the Terms and to bind you, and you acknowledge and agree that you:  (a) have read and understand the Terms; (b) intend to form a legally binding contract; and (c) will abide by all the Terms.</p>
          <br><br>[NAME OF MERCHANT]<br><br>By:<br>Name:<br>Title:<br>Date:<br>

        <h2 id="privacy-policy">Privacy Policy</h2>
        <p>This policy describes the ways we collect, store, use and protect your personal information. You accept this policy when you sign up for or use our products, services or any other features, technologies or functionalities offered by us on our website or through any other means. We may amend this policy at any time by posting a revised version on our website. The revised version will be effective at the time we post it. In addition, if the revised version includes a substantial change, we will provide you with 30 days prior notice by posting notice of the change on the "Privace Policy" area of our website.</p>

          <h3 id="info-collection">How we collect information about you</h3>
          <p>When you visit the Bitsie website or use the Bitsie Services, we collect your IP address and standard web log information, such as your browser type and the pages you accessed on our website.<p>
          <p>If you open an account or use the Bitsie Services, we may collect the following types of information:</p>
          <ul>
            <li>Contact information: your name, address, phone, email, Skype ID and other similar information.</li>
            <li>Financial information: the full bank account numbers that you link to your Bitsie account or give us when you use the Bitsie Services.</li>
          </ul>
          <p>Before permitting you to use the Bitsie Services, we may require you to provide additional information we can use to verify your identity or address or manage risk, such as your date of birth, social security number or other information. We may also obtain information about you from third parties such as credit bureaus and identity verification services.</p>
          <p>When you are using the Bitsie Services, we collect information about your transactions and your other activities on our website or using the Bitsie Services and we may collect information about your computer or other access device for fraud prevention purposes.</p>

          <h3 id="cookies">How we use cookies</h3>
          <p>When you access our website, we, or companies we hire to track how our website is used, may place small data files called "cookies" on your computer. We and our service providers also use cookies to customize the Bitsie Services, content and advertising; measure promotional effectiveness, and promote trust and safety.</p>
          <p>We send a "session cookie" to your computer when you log in to your account or otherwise use the Bitsie Services. This type of cookie helps us to recognize you if you visit multiple pages on our site during the same session, so that we do not need to ask you for your password on each page. Once you log out or close your browser, this cookie expires and no longer has any effect.</p>
          <p>We also use longer-lasting cookies for other purposes such as to display your e-mail address on our sign-in form, so that you don't need to retype the e-mail address each time you log in to your account.</p>
          <p>We encode our cookies so that only we can interpret the information stored in them. You are free to decline our cookies if your browser permits, but doing so may interfere with your use of our website. We may also collect information about your computer or other access device to mitigate risk and for fraud prevention purposes.</p>
          <p>You may encounter cookies from third parties when using the Bitsie Services on websites that we do not control (for example, if you view a web page created by a third party or use an application developed by a third party, there may be a cookie placed by that web page or application.)</p>

          <h3 id="protect-and-store">How we protect and store personal information</h3>
          <p>Throughout this policy, we use the term "personal information" to describe information that can be associated with a specific person and can be used to identify that person. We do not consider personal information to include information that has been anonymized so that it does not identify a specific user.</p>
          
          <p>We store and process your personal information on our computers in the US and elsewhere in the world where Bitsie facilities are located, and we protect it by maintaining physical, electronic and procedural safeguards in compliance with applicable US federal and state regulations. We use computer safeguards such as firewalls and data encryption, we enforce physical access controls to our buildings and files, and we authorize access to personal information only for those employees who require it to fulfill their job responsibilities.</p>

          <h3 id="info-use">How we use the personal information we collect</h3>
          <p>Our primary purpose in collecting personal information is to provide you with a secure, smooth, efficient, and customized experience. We may use your personal information to:</p>
          <ul>
            <li>provide the Bitsie Services and customer support you request;</li>
            <li>process transactions and send notices about your transactions;</li>
            <li>resolve disputes, collect fees, and troubleshoot problems;</li>
            <li>prevent potentially prohibited or illegal activities, and enforce our User Agreement;</li>
            <li>customize, measure, and improve the Bitsie Services and the content and layout of our website and applications;</li>
            <li>deliver targeted marketing, service update notices, and promotional offers based on your communication preferences;</li>
            <li>compare information for accuracy and verify it with third parties.</li>
          </ul>

          <h3 id="marketing">Marketing</h3>
          <p>We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may combine your information with information we collect from other companies and use it to improve and personalize the Bitsie Services, content and advertising. If you do not wish to receive marketing communications from us or participate in our ad-customization programs, simply indicate your preference by logging into your account and going to the Profile subtab under the My Account tab and adjusting your preferences under Account Information, or by following the directions provided with the communication or advertisement.</p>

          <h3 id="info-sharing">How we share personal information with other Bitsie users</h3>
          <p>To process your payments, we may share some of your personal information with the person or company that you are paying or that is paying you. Your contact information, date of sign-up, the number of payments you have received from verified Bitsie users, and whether you have verified control of a bank account are provided to other Bitsie users who you transact with through Bitsie. In addition, this and other information may also be shared with third parties when you use these third parties to access the Bitsie Services. Unless you have agreed to it, these third parties are not allowed to use this information for any purpose other than to enable the Bitsie Services.</p>
          <p>If you are buying goods or services and pay through Bitsie, we may also provide the seller with your confirmed credit card billing address to help complete your transaction with the seller. The seller is not allowed to use this information to market their services to you unless you have agreed to it. If an attempt to pay your seller fails, or is later invalidated, we may also provide your seller with details of the unsuccessful payment. To facilitate dispute resolutions, we may provide a buyer with the sellers address so that goods can be returned to the seller.</p>
          <p>We work with third parties, including merchants, to enable them to accept or facilitate payments from or to you using Bitsie. In doing so, a third party may share information about you with us, such as your email address or mobile phone number to inform you that a payment is sent to you or when you attempt to pay that merchant or through that third party. We use this information to confirm to that you are a Bitsie customer and that Bitsie as a form of payment can be enabled, or where a payment is sent to you to send you notification that you have received a payment. Also, if you request that we validate your status as a Bitsie customer with a third party, we will do so. Please note that merchants you buy from and contract with have their own privacy policies, and Bitsie may not be held responsible for their operations, including, but not limited to, their information practices.</p>
    </div>
</div>