@{
    ViewBag.Title = "Offline Addresses";
}

<div class="contentWrapper page">
    
    <div class="container whitebg">
    
        <h2>Offline Addresses</h2>

        <div class="row">
            <div class="col-md-7">
                <h4>With an offline address you don't need to worry about adding more costly devices to your business process, or training staff to use new software.</h4>

                <p>Many store owners do not have tablets or mobile devices on-location, so we developed a way to allow businesses to
                    accept bitcoin without having to purchase another device.</p>

                <p>With an offline address, Bitsie provides you with a dedicated bitcoin address on a profesionally printed card. 
                    When a customer would like to pay with bitcoin, present the card to the customer and have them send their bitcoin payment to the address. 
                    You will receive an email and SMS notification indicating the amount paid as soon as the transaction is received. The amount received to this 
                    address will be settled to your account in USD if you are settling via direct deposit, or bitcoin if you are settling 
                    in bitcoin.
                </p>
                <p>Simply display the card at the register, and instruct the customer to send their bitcoin payment to the address. 
                    Then wait for a notification to ensure they have paid the correct amount.</p>
            </div>
            <div class="col-md-5">
                <!--<img src="http://placekitten.com/400/400" alt="Sample offline address" />-->
            </div>
        </div>

    </div>
</div>

<div style="margin-bottom:168px"></div>