<select name="Industry" class="form-control" required="required">
    <option value="">Select an Industry...</option>
    <option value="Accounting">Accounting</option>
    <option value="Airlines/Aviation">Airlines/Aviation</option>
    <option value="Alternative Dispute Resolution">Alternative Dispute Resolution</option>
    <option value="Alternative Medicine">Alternative Medicine</option>
    <option value="Animation">Animation</option>
    <option value="Apparel &amp; Fashion">Apparel &amp; Fashion</option>
    <option value="Architecture &amp; Planning">Architecture &amp; Planning</option>
    <option value="Arts &amp; Crafts">Arts &amp; Crafts</option>
    <option value="Automotive">Automotive</option>
    <option value="Aviation &amp; Aerospace">Aviation &amp; Aerospace</option>
    <option value="Banking">Banking</option>
    <option value="Biotechnology">Biotechnology</option>
    <option value="Broadcast Media">Broadcast Media</option>
    <option value="Building Materials">Building Materials</option>
    <option value="Business Supplies &amp; Equipment">Business Supplies &amp; Equipment</option>
    <option value="Capital Markets">Capital Markets</option>
    <option value="Chemicals">Chemicals</option>
    <option value="Civic &amp; Social Organization">Civic &amp; Social Organization</option>
    <option value="Civil Engineering">Civil Engineering</option>
    <option value="Commercial Real Estate">Commercial Real Estate</option>
    <option value="Computer &amp; Network Security">Computer &amp; Network Security</option>
    <option value="Computer Games">Computer Games</option>
    <option value="Computer Hardware">Computer Hardware</option>
    <option value="Computer Networking">Computer Networking</option>
    <option value="Computer Software">Computer Software</option>
    <option value="Construction">Construction</option>
    <option value="Consulting">Consulting</option>
    <option value="Consumer Electronics">Consumer Electronics</option>
    <option value="Consumer Goods">Consumer Goods</option>
    <option value="Consumer Services">Consumer Services</option>
    <option value="Cosmetics">Cosmetics</option>
    <option value="Dairy">Dairy</option>
    <option value="Defense &amp; Space">Defense &amp; Space</option>
    <option value="Design">Design</option>
    <option value="Education Management">Education Management</option>
    <option value="E-learning">E-learning</option>
    <option value="Electrical &amp; Electronic Manufacturing">Electrical &amp; Electronic Manufacturing</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Environmental Services">Environmental Services</option>
    <option value="Events Services">Events Services</option>
    <option value="Executive Office">Executive Office</option>
    <option value="Facilities Services">Facilities Services</option>
    <option value="Farming">Farming</option>
    <option value="Financial Services">Financial Services</option>
    <option value="Fine Art">Fine Art</option>
    <option value="Fishery">Fishery</option>
    <option value="Food &amp; Beverages">Food &amp; Beverages</option>
    <option value="Food Production">Food Production</option>
    <option value="Fundraising">Fundraising</option>
    <option value="Furniture">Furniture</option>
    <option value="Gambling &amp; Casinos">Gambling &amp; Casinos</option>
    <option value="Glass, Ceramics &amp; Concrete">Glass, Ceramics &amp; Concrete</option>
    <option value="Government Administration">Government Administration</option>
    <option value="Government Relations">Government Relations</option>
    <option value="Graphic Design">Graphic Design</option>
    <option value="Health, Wellness &amp; Fitness">Health, Wellness &amp; Fitness</option>
    <option value="Higher Education">Higher Education</option>
    <option value="Hospital &amp; Health Care">Hospital &amp; Health Care</option>
    <option value="Hospitality">Hospitality</option>
    <option value="Human Resources">Human Resources</option>
    <option value="Import &amp; Export">Import &amp; Export</option>
    <option value="Individual &amp; Family Services">Individual &amp; Family Services</option>
    <option value="Industrial Automation">Industrial Automation</option>
    <option value="Information Services">Information Services</option>
    <option value="Information Technology &amp; Services">Information Technology &amp; Services</option>
    <option value="Insurance">Insurance</option>
    <option value="International Affairs">International Affairs</option>
    <option value="International Trade &amp; Development">International Trade &amp; Development</option>
    <option value="Internet">Internet</option>
    <option value="Investment Banking/Venture">Investment Banking/Venture</option>
    <option value="Investment Management">Investment Management</option>
    <option value="Judiciary">Judiciary</option>
    <option value="Law Enforcement">Law Enforcement</option>
    <option value="Law Practice">Law Practice</option>
    <option value="Legal Services">Legal Services</option>
    <option value="Legislative Office">Legislative Office</option>
    <option value="Leisure &amp; Travel">Leisure &amp; Travel</option>
    <option value="Libraries">Libraries</option>
    <option value="Logistics &amp; Supply Chain">Logistics &amp; Supply Chain</option>
    <option value="Luxury Goods &amp; Jewelry">Luxury Goods &amp; Jewelry</option>
    <option value="Machinery">Machinery</option>
    <option value="Management Consulting">Management Consulting</option>
    <option value="Maritime">Maritime</option>
    <option value="Marketing &amp; Advertising">Marketing &amp; Advertising</option>
    <option value="Market Research">Market Research</option>
    <option value="Mechanical or Industrial Engineering">Mechanical or Industrial Engineering</option>
    <option value="Media Production">Media Production</option>
    <option value="Medical Device">Medical Device</option>
    <option value="Medical Practice">Medical Practice</option>
    <option value="Mental Health Care">Mental Health Care</option>
    <option value="Military">Military</option>
    <option value="Mining &amp; Metals">Mining &amp; Metals</option>
    <option value="Motion Pictures &amp; Film">Motion Pictures &amp; Film</option>
    <option value="Museums &amp; Institutions">Museums &amp; Institutions</option>
    <option value="Music">Music</option>
    <option value="Nanotechnology">Nanotechnology</option>
    <option value="Newspapers">Newspapers</option>
    <option value="Nonprofit Organization Management">Nonprofit Organization Management</option>
    <option value="Oil &amp; Energy">Oil &amp; Energy</option>
    <option value="Online Publishing">Online Publishing</option>
    <option value="Outsourcing/Offshoring">Outsourcing/Offshoring</option>
    <option value="Package/Freight Delivery">Package/Freight Delivery</option>
    <option value="Packaging &amp; Containers">Packaging &amp; Containers</option>
    <option value="Paper &amp; Forest Products">Paper &amp; Forest Products</option>
    <option value="Performing Arts">Performing Arts</option>
    <option value="Pharmaceuticals">Pharmaceuticals</option>
    <option value="Philanthropy">Philanthropy</option>
    <option value="Photography">Photography</option>
    <option value="Plastics">Plastics</option>
    <option value="Political Organization">Political Organization</option>
    <option value="Primary/Secondary">Primary/Secondary</option>
    <option value="Printing">Printing</option>
    <option value="Professional Coaching">Professional Coaching</option>
    <option value="Professional Training">Professional Training</option>
    <option value="Program Development">Program Development</option>
    <option value="Public Policy">Public Policy</option>
    <option value="Public Relations">Public Relations</option>
    <option value="Public Safety">Public Safety</option>
    <option value="Publishing">Publishing</option>
    <option value="Railroad Manufacture">Railroad Manufacture</option>
    <option value="Ranching">Ranching</option>
    <option value="Real Estate">Real Estate</option>
    <option value="Recreational Facilities &amp; Services">Recreational Facilities &amp; Services</option>
    <option value="Religious Institutions">Religious Institutions</option>
    <option value="Renewables &amp; Environment">Renewables &amp; Environment</option>
    <option value="Research">Research</option>
    <option value="Restaurants">Restaurants</option>
    <option value="Retail">Retail</option>
    <option value="Security &amp; Investigations">Security &amp; Investigations</option>
    <option value="Semiconductors">Semiconductors</option>
    <option value="Shipbuilding">Shipbuilding</option>
    <option value="Sporting Goods">Sporting Goods</option>
    <option value="Sports">Sports</option>
    <option value="Staffing &amp; Recruiting">Staffing &amp; Recruiting</option>
    <option value="Supermarkets">Supermarkets</option>
    <option value="Telecommunications">Telecommunications</option>
    <option value="Textiles">Textiles</option>
    <option value="Think Tanks">Think Tanks</option>
    <option value="Tobacco">Tobacco</option>
    <option value="Translation &amp; Localization">Translation &amp; Localization</option>
    <option value="Transportation/Trucking/Railroad">Transportation/Trucking/Railroad</option>
    <option value="Utilities">Utilities</option>
    <option value="Venture Capital">Venture Capital</option>
    <option value="Veterinary">Veterinary</option>
    <option value="Warehousing">Warehousing</option>
    <option value="Wholesale">Wholesale</option>
    <option value="Wine &amp; Spirits">Wine &amp; Spirits</option>
    <option value="Wireless">Wireless</option>
    <option value="Writing &amp; Editing">Writing &amp; Editing</option>
</select>