@{
    ViewBag.Title = "Indekx";
}


<input type="text" id="url" value="/IPN/Update" />
<textarea style="width:400px;height:400px" id="body"></textarea>

<button id="submit">SUBMIT</button>

@section scripts {
<script>
    $('#submit').click(function (e) {
        var url = $('#url').val();
        var body = $('#body').val();

        $.ajax({
            contentType: 'application/json',
            data: body,
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                alert("FAILED");
                console.log(data);
            },
            processData: false,
            type: 'POST',
            url: url
        });
    });
</script>
    }