@{
    ViewBag.Title = "Tipsie";
}

<div id="tipsie" class="contentWrapper page">
    
    <div class="container whitebg">

        <div id="home-top" class="container col-xs-12">
            <div class="text-center col-xs-12 banner">
                <div class="col-xs-5">
                    <img src="/Content/img/tipsie_card.png"/>
                </div>        
                <div class="col-xs-7 text-left">        
                    <img src="/Content/img/tipsie_logo.png"/>
                    <h2>Accept bitcoin tips from customers without the hassle.</h2>
                    <a href="/tipsie/start" class="btn btn-success btn-lg">GET STARTED <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

      <div class="row featurette orange-row first-row">
        <div class="col-md-12">
            <h1 class="featurette-heading">Tipsie is a simple bitcoin wallet<br /> for anyone that accepts tips at work.</h1>
            <p class="lead"> 
                With Tipsie you no longer have to worry about carrying cash. Receive tips from your customers in bitcoin, and 
                use those tips however you want. You have full access to your bitcoin to spend in the bitcoin economy. 
                Best of all, Tipsie is&mdash;and always will be &mdash; <strong class="text-success">completely free</strong>.
            </p>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-xs-6">
            <h1 class="featurette-heading">Simple.</h1>
            <h2 class="text-muted">Tipsie is as easy as it gets.</h2>
            <p class="lead">Print your Tipsie card on your own printer and present it to your customer to receive bitcoin tips. 
                You are notified via email and/or SMS when a tip is received.</p>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
          <img class="featurette-image img-responsive" src="/Content/img/tipsie_simple_image.jpg" alt="tipsie, tip with bitcoin. Simple, tipsie is as easy as it gets.">
        </div>
      </div>

        <div class="row featurette orange-row">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="/Content/img/tipsie_safe_image.jpg" alt="tipsie, tip with bitcoin. Safe, no more carrying cash.">
            </div>
            <div class="col-md-7">
                <h1 class="featurette-heading">Safe.</h1>
                <h2 class="text-muted">No more carrying cash.</h2>
                <p class="lead">You no longer have to carry wads of cash when leaving your shift. Nobody can access your tips except you, so you can rest easy knowing your tips are safe even if you lose your wallet.</p>
            </div>        
        </div>

      <div class="row featurette">
        <div class="col-md-7">
            <h1 class="featurette-heading">Secure.</h1>
            <h2 class="text-muted"> You have the keys.</h2>
          <p class="lead">You can access the private key to your Tipsie address anytime. Use this private key to buy products, pay friends, convert to USD at a nearby bitcoin ATM, or sell on a bitcoin exchange.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/Content/img/tipsie_secure_image.jpg" alt="tipsie, tip with bitcoin. Secure, you have the keys">
        </div>
      </div>

      <hr class="featurette-divider">

        <p class="align-center">
            <a href="/tipsie/start" class="btn btn-success btn-lg">GET STARTED <i class="fa fa-chevron-right"></i></a>
        </p>

    </div>
</div>
